@page
@model TravelApp.Pages.Forms.Default.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="jabotron">
    <div class="row">
        <div class="w-50 mx-auto">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" id="Email" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" id="password" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmationPassword"></label>
                <input type="password" id="confirmPassword" asp-for="ConfirmationPassword" />
                <span asp-validation-for="ConfirmationPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Save new password</button>
            </div>
        </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
